{% load compress %} {% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Youbify</title>
    <link rel="icon" href="/static/img/youtube_spotify_diagonal.svg"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap" />
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Rubik:wght@300&display=swap"
        rel="stylesheet">
    </link>
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    </link>
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}" />
    <link rel="stylesheet" href="{% static 'src/custom.css' %}" />
    
    {% endcompress %}
    
</head>

<script>
    // document.location.reload(true)
    // document.addEventListener("DOMContentLoaded", function(event) { 
    //     var scrollpos = sessionStorage.getItem('scrollpos');
    //     if (scrollpos) window.scrollTo(0, scrollpos);
    // });

    // window.onbeforeunload = function(e) {
    //     sessionStorage.setItem('scrollpos', window.scrollY);
    // };
</script>


<body class="min-h-screen overflow-auto text-white bg-gradient-to-b from-midnightsky to-slate-800">
    <div>
        {% block template %} {%include "navbar.html"%} {% endblock %}
        <div class="flex flex-col justify-center">
            {% block content %} {% endblock content %}
        </div>
    </div>
</body>

</html>